# Runtime Dependencies
PyQt5==5.15.11
PyQt5-Qt5==5.15.2  # Required by PyQt5
PyQt5_sip==12.16.1  # Required by PyQt5
pandas==2.2.3
openpyxl==3.1.5
numpy==2.2.0
PyGithub==2.5.0
xlsxwriter==3.2.0
auto-py-to-exe==2.45.0  # For executable creation

# Development Dependencies
black==24.10.0
isort==5.13.2
pre-commit==4.0.1  # For running pre-commit hooks
conventional-pre-commit==3.1.0  # For commit message formatting
pylint==3.3.2  # Additional linting
